<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>{{ .Title }}</title>
    {{ partial "meta.html" }}

    {{ partial "styles.html" }}
</head>

<body class="single single-post">

    <div class="site-wrapper">

        <div class="doc-loader">
            <img src="/images/preloader.gif" alt="Seppo">
        </div>

        {{ partial "header.html"}}

        <div id="content" class="site-content center-relative">
            <article>
                <img src="/images/mnya.png" alt="Miss Nigeria Youth Ambassador"
                    style="text-align: center; display: block; margin: auto; margin-bottom: 4%;">
                <div class="post-wrapper content-1170 center-relative">
                    <div class="single-content-wrapper center-relative">
                        <h1 class="entry-title">
                            Miss Nigeria Youth Ambassador
                        </h1>

                        <div class="post-info-wrapper">
                            <div class="entry-info">
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            <a href="#">United Nations</a>
                                        </li>
                                        <li>
                                            <a href="#">CADA</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published">
                                    August 12, 2019
                                </div>
                                <div class="author-nickname">
                                    <a href="#" rel="author">CADA</a>
                                </div>
                            </div>
                        </div>

                        <div class="entry-content">
                            <p>
                                August 12, every Year since 1990 is set aside for the observation of the United Nations
                                International Youth Day, with wide range of activities to raise awareness about the
                                situation of Youth in Member Countries, in which all Youth and Youth Organizations
                                around the World, Stakeholders, Government at all levels, the Organized Private Sectors,
                                the International Community, and Non Governmental Organizations are involved.
                            </p>
                            <br>
                            <p>
                                It is in pursuance of the objective of this day, that the Centre for Advocacy &
                                Development in Africa CADA and the United Nations African Youth Peace Ambassadors –
                                Nigeria have initiated the Miss Nigeria Youth Ambassador (MNYA) Gala and Award Ceremony,
                                partnering with other Youth Stakeholders to commemorate the 2019 International Youth Day
                                and to promote the effort of Young Women with Brain and Beauty as one of the most
                                productive resources in achieving the Sustainable Development Goals as well as the
                                United Nations Youth Agenda in Nigeria, using a Social Event.
                            </p>
                            <br>

                            <blockquote>
                                <p>
                                    REQUIREMENTS
                                </p>
                                <ol>
                                    <li>Must be a Young lady between the age of 18 - 30 years old.</li>
                                    <li>Must be a literate</li>
                                    <li>Fluent in English Language</li>
                                </ol>
                            </blockquote>
                            <br>
                            <p class="small-text">
                                WHY YOU SHOULD CONTEST FOR MISS NIGERIA YOUTH AMBASSADR 2018?
                            </p>
                            <ul>
                                <li>First of its kind in Nigeria with the UN and Federal Government recognition and
                                    patronage</li>
                                <li>Get you closer to the United Nations System Youth Programmes around the World</li>
                                <li>Represent Nigeria Youth at the Regional, Continental and Global Contest of Miss
                                    Africa
                                    Youth Ambassador Pageant and attend Private Sector, Government and UN Youth
                                    Workshops,
                                    Seminars and Conferences around the World</li>
                                <li>Provide a platform for you to build a career with International Development Agencies
                                </li>
                                <li>It's a NO bikini National Project that promotes Nigeria Culture and the United
                                    Nations
                                    International Youth Day Celebration</li>
                                <li>Appear at major events such as UN World Programmes on Youth, African Youth
                                    Celebration
                                    and World Urban Youth Assembly and World Assembly of Youth WAY</li>
                            </ul>

                            <p class="small-text">Opportunities of been a Contestant</p>
                            <ul>
                                <li>One Major Crown and Six Titles Crown etc</li>
                                <li>All Contestants are entitled to Gifts</li>
                                <li>Official visit to International Agencies, Embassies, Charity Homes and Government
                                    Agencies etc</li>
                                <li>International Exposure & Counseling by Nollywood Personalities during Auditions and
                                    Camp</li>
                                <li>Free Camping in FCT Abuja.</li>
                                <li>Free Makeup on the day of the event</li>
                                <li>Discount Rate on Costumes</li>
                                <li>Professional Photographs Profile</li>
                            </ul>
                            <p class="small-text">Miss Nigeria Youth Ambassador 2019 will Feature</p>
                            <ul>
                                <li>MNY Ambassador – Nigeria</li>
                                <li>MNY Ambassador South South</li>
                                <li>MNY Ambassador North Central</li>
                                <li>MNY Ambassador South East</li>
                                <li>MNY Ambassador North West</li>
                                <li>MNY Ambassador South West</li>
                                <li>MNY Ambassador North East</li>
                            </ul>
                            <p>
                                And Nineteen (19) Honorary Award of Nigeria Youth Goodwill Ambassador<sub>TM</sub> to
                                distinguished
                                Personalities / Agencies / Organized Private Sectors in Nigeria
                            </p>
                            <blockquote>
                                <p>
                                    STAR PRICE: A CAR.
                                </p>
                            </blockquote>
                            <br>
                            <p style="color: cornflowerblue; font-weight: bold;">What are you waiting for??</p>
                            <p>
                                Pay a Non - Refundable fee of #5,000 into the Bank: <br>
                                Bank Name: First City Monument Bank (FCMB) <br>
                                Account Name: Miss Nigeria Youth Ambassador <br>
                                Account Number: 5860220013
                            </p>
                            <br>
                            <p class="small-text">After Payment:</p>
                            <p>Send your Teller to  What'sApp up number 0811-970-6433 for  confirmation and a Code
                                number will be forwarded to you, then fill the Form online at www.cadafrica.africa with
                                the code. Print it out and come with it for Audition. REGISTRATION CLOSES on May 31,
                                2019. Audition starts on June 7 – 28, 2019</p>

                            <p class="medium-text">THE DUTIES OF MISS NIGERIA YOUTH AMBASSADOR 2019</p>
                            <p class="small-text">The Queen will be expected to:</p>
                            <br>
                            <ul>
                                <li>Offer her time on a voluntary basis to address Youth Issues across the Country and
                                    participate in major Youth Programmes and Activities during her tenure.

                                <li>Familiarize herself with the activities of Youth Organizations, NYCN, Pan African
                                    Youth Union Programmes, World Assembly of Youth Programmes, United Nations Youth
                                    Programme, and the relevant Ministries by being able to articulate basic Cultural
                                    Youth
                                    Issues at the core of Sustainable Development Goals.</li>

                                <li>Attend Private Sector, Government and UN Youth Workshops, Seminars and Conference if
                                    requested</li>

                                <li>Represent Nigeria Youth at the Regional, Continental and Global Contest of Miss
                                    Africa
                                    Youth Pageant</li>

                                <li>Assist meeting the Project’s stated goals and objectives by participating in
                                    educational, policy, or performance events</li>

                                <li>Adhere to communication guidelines, which include awareness of the UN International
                                    Youth Day, as well as timely responses to communiqués</li>

                                <li>Appear at major events such as UN World Programmes on Youth, African Youth
                                    Celebration
                                    and World Urban Youth Assembly and World Assembly of Youth WAY</li>

                                <li>Maintain a web page, web log, or similar on the social activities she is engaged in,
                                    that is linked to the Nigerian Youth Goodwill Ambassador and other partners website
                                </li>
                            </ul>

                            <p>Contact us for any enquiries.</p>
                            <a href="/#contact" class="button">CONTACT US</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>

        </div>


        {{ partial "footer.html" }}
    </div>


    <!--Load JavaScript-->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src='/js/imagesloaded.pkgd.js'></script>
    <script src='/js/jquery.fitvids.js'></script>
    <script src='/js/jquery.smartmenus.min.js'></script>
    <script src='/js/isotope.pkgd.js'></script>
    <script src='/js/owl.carousel.min.js'></script>
    <script src='/js/main.js'></script>
</body>

</html>