<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>{{ .Title }}</title>
    {{ partial "meta.html" }}

    {{ partial "styles.html" }}
</head>

<body class="single single-post">

    <div class="site-wrapper">

        <div class="doc-loader">
            <img src="/images/preloader.gif" alt="Seppo">
        </div>

        {{ partial "header.html"}}

        <div id="content" class="site-content center-relative">
            <article>
                
                    <img src="/images/nyaa.png" alt="Miss Nigeria Youth Ambassador"
                    style="text-align: center; display: block; margin: auto; margin-bottom: 4%;">
                <div class="post-wrapper content-1170 center-relative">
                    <div class="single-content-wrapper center-relative">
                        <h1 class="entry-title">
                            Nigeria Youth Ambassadors Award
                        </h1>

                        <div class="post-info-wrapper">
                            <div class="entry-info">
                                <div class="cat-links">
                                    <ul>
                                        <li>
                                            <a href="#">United Nations</a>
                                        </li>
                                        <li>
                                            <a href="#">Federal Ministry of Youth & Sports Development</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-date published">
                                    August 12, 2019
                                </div>
                                <div class="author-nickname">
                                    <a href="#" rel="author">CADA</a>
                                </div>
                            </div>
                        </div>

                        <div class="entry-content">
                            <p>
                                August 12, every Year since 1990 is set aside for the observation of the United Nations
                                International Youth Day, with wide range of activities to raise awareness about the
                                situation of Young People in Member Nations and also to constantly remind World Leaders
                                of their collective responsibility to the Future of the Young People, in which all Youth
                                and Youth Organizations around the World, Stakeholders, Government at all levels, the
                                Organized Private Sectors, the International Community, and Non Governmental
                                Organizations are involved.
                            </p>
                            <br>
                            <p>
                                It is in this regard, that the Centre for Advocacy & Development in Africa CADA is
                                partnering with other United Nations Youth Organizations in Nigeria with patronage from
                                the United Nations System, African Union – ECOSOCC, Nigeria, Commonwealth Student
                                Association and the Federal Government of Nigeria to organize the First Nigeria Youth
                                Ambassador Project, which will feature Musical Concert, Award Ceremony, and Pageantry to
                                commemorate the 2019 United Nations International Youth Day Celebration in Nigeria. The
                                event mainly is to promote the effort of Young People in Nigeria as one of the most
                                productive resources in achieving the Sustainable Development Goals, the African Union
                                Agenda 2063 as well as the United Nations Youth Agenda in Nigeria, using a Social Event.
                            </p>
                            <br>

                            <p>
                                Hence, as part of the effort to recognize and encourage the very few Individuals,
                                Corporate Establishments, Government Agencies / Institutions, the Diplomatic Community
                                as well as International Organizations that have contributed immensely to the
                                Development and Empowerment of the Nigeria Youth thus far, we hereby call for your
                                Nominations and Votes for the under listed categories
                            </p>
                            <br>

                            <blockquote>
                                <p class="small-text">
                                    Youth Category - Criteria
                                </p>
                            </blockquote>
                            <p>
                                All Nominees must be:* Between 18 - 35 yrs, who have demonstrably excelled in
                                different fields of developmental endeavours and social service. These young people
                                will be commended for their dedication to excellence and are held up as role models
                                to other Youth.
                            </p>
                            <ol>
                                <li>Media: Outstanding Young Journalist for covering Youth issues in a holistic way
                                    and engendering positive Youth Culture</li>

                                <li>Literary Arts: This Award is for outstanding work in the Music and literary
                                    arts.</li>

                                <li>Young Pioneer Award - This Award goes to a young person / group who is breaking
                                    new grounds in areas such a film; information technology, manufacturing; etc
                                </li>

                                <li>Young Activist. - This is awarded to a young person who has mobilized community
                                    support and action around some issue they felt strongly about.</li>


                                <li>Community Service - This award recognizes the contribution of the individual
                                    Youth and Youth groups to the development of their communities. Two awards are
                                    issued in this category - Individual & Youth Group</li>

                                <li>Most Popular Youth Development Blogger in Nigeria</li>


                                <li>Young Artisan: This award is presented to a young artisan who has produced
                                    excellent
                                    work and who has dedicated time to develop his/her craft.</li>


                                <li>Outstanding Nollywood Youth Actor / Actress in Nigeria</li>

                                <li>Most Political Conscious Young Person of the Year</li>


                                <li>Young Professional - This award is for a young professional, who through
                                    excellent
                                    Professional practice, upholds the standards of his or her profession.</li>

                                <li>Outstanding Youth Organization in Nigeria</li>
                            </ol>
                            <br>
                            <blockquote>
                                <p>General Category - Criteria:</p>
                            </blockquote>
                            <p>
                                All nomination here should be Adult Achievers / Corporate Organizations / Government
                                Agencies / International Agencies / Diplomatic Community that have contributed
                                measurably in the Business Community to Youth Development Initiatives.
                            </p>
                            <ol>
                                <li>Outstanding Governor for Educational Scholarship Award </li>
                                <li>Outstanding Governor for Youth Entrepreneurship in Nigeria </li>
                                <li>Outstanding State Government for Youth Sports Development</li>
                                <li>Outstanding Local Government Chairman in Nigeria </li>
                                <li>Outstanding State Governor for Internal Security</li>
                                <li>Outstanding Security Agency in Nigeria </li>
                                <li>Most Inspiring Nigeria Senator of the Year</li>
                                <li>Most Inspiring Federal Lawmaker – House of Representatives</li>
                                <li>Most Inspiring Speaker of State House of Assembly</li>
                                <li>Most dedicated State Youth Director in Nigeria</li>
                                <li>Most Youth-Friendly Media (Print, Radio & TV) in Nigeria</li>
                                <li>Most Friendly Youth Empowerment Embassy in Nigeria</li>
                                <li>Most Youth Friendly Development Bank in Nigeria</li>
                                <li>Most Supportive International NGO in Nigeria for Youth Development</li>
                                <li>Most Efficient Private Transport Company in Nigeria</li>
                                <li>Most Efficient Examination body in Nigeria </li>
                                <li>Most Friendly Youth International / National Courier Services in Nigeria</li>
                                <li>Most Youth Friendly Mobile Network Provider in Nigeria</li>
                                <li>Most Youth Friendly & Supportive Head of Academic Institution in Nigeria</li>
                                <li>Outstanding Youth Development Indigenous Oil Company in Nigeria</li>
                                <li>Outstanding Youth Empowerment International Oil Company in Nigeria</li>
                                <li>Outstanding Federal Ministry in Nigeria </li>
                                <li>Outstanding Government Agency in Nigeria</li>
                                <li>Outstanding Government Revenue Generating Agency in Nigeria</li>
                            </ol>

                            <p>
                                All nominations should reach the NYAA Selection Committee by email at:
                                nyaa@cadafrica.africa; nigyouthamb@gmail.com or Online Voting at: www.cadafrica.africa
                                on before June 12, 2019. While for more information you can as well visit:
                                www.cadafrica.africa or call +234-901-485-6039, +234-811-970-6433.
                            </p>

                            <p>Contact us for any enquiries</p>
                            <a href="/#contact" class="button">CONTACT US</a>

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>

        </div>


        {{ partial "footer.html" }}
    </div>


    <!--Load JavaScript-->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src='/js/imagesloaded.pkgd.js'></script>
    <script src='/js/jquery.fitvids.js'></script>
    <script src='/js/jquery.smartmenus.min.js'></script>
    <script src='/js/isotope.pkgd.js'></script>
    <script src='/js/owl.carousel.min.js'></script>
    <script src='/js/main.js'></script>
</body>

</html>