<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "meta.html" }}
    <title>{{ .Site.Title}}</title>
    {{ partial "styles.html" }}
</head>

<body class="page-template-onepage">

    <div class="site-wrapper">
        <div class="doc-loader">
            <img src="/images/preloader.gif" alt="Loading">
        </div>

        {{ partial "header.html" }}

        {{ block "main" . }}
        {{ end }}

        {{ partial "footer.html" }}
    </div>


    <!--Load JavaScript-->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src='/js/imagesloaded.pkgd.js'></script>
    <script src='/js/jquery.fitvids.js'></script>
    <script src='/js/jquery.smartmenus.min.js'></script>
    <script src='/js/isotope.pkgd.js'></script>
    <script src='/js/owl.carousel.min.js'></script>
    <script src='/js/main.js'></script>
</body>

</html>