<!-- Footer -->
<footer class="footer">
    <div class="footer-content center-relative">

        <div class="footer-mail">
            <a href="mailto:info@cadafrica.africa">info@cadafrica.africa</a>
        </div>

        <div class="footer-phone">
            <a href="tel:0811-976-0433">0811-976-0433</a>
        </div>

        <div class="social-holder">
            <a href="#">
                <span class="fa fa-twitter"></span>
            </a>
            <a href="#">
                <span class="fa fa-facebook"></span>
            </a>
            <a href="#">
                <span class="fa fa-linkedin"></span>
            </a>
        </div>

        <div class="copyright-holder">
            © 2019 Centre for Advocacy & Development in Africa by <a href="https://estechnologies.ng">ES Technologies</a>
        </div>
    </div>
</footer>