<!-- About Section -->
<div id="about" class="section">
    <div class="section-wrapper block content-1170 center-relative">

        <div class="page-title-holder">
            <p class="up-title-text">08</p>
            <h2 class="entry-title">ABOUT</h2>
            <p class="page-description">KNOW US</p>
        </div>

        <div class="content-wrapper">
            <p>
                <img src="images/about.JPG" alt="" />
            </p>
            <br>
            <h3 class="medium-text">
                We are CADA. <br>
                The Centre for Advocacy & Development in Africa.
            </h3>
            <br>

            <div class="one_half">
                <p class="small-text">
                    Our brief biography.
                </p>
                <p>
                    The Centre for Advocacy & Development in Africa (CADA) formally known as Campaign Against Drug Abuse
                    is a Youth focused NGO established in 2000 by some Members of National Drug Law Enforcement Agency
                    (NDLEA) Drug Free Club from various Higher Institutions across the Country after the Official Lunch
                    of the Club at the Institute of Management & Technology IMT Enugu, by the NDLEA Chairman / CE.
                </p>
                <br>
                <p>
                    In 2005, the Organization reviewed its mandate and objective(s) to accommodate other issues of
                    National and International importance, especially the Millennium Development Goals MDG’s target.
                    Presently, Our Mandate is to support and encourage Youth and Students in Educational Research
                    Projects, foster Peace initiatives amongst the African Youth, and to provide a platform where the
                    African Youth can exchange ideas, and as well assist developmental programs aimed at poverty
                    reduction in Africa.
                </p>
                <br>

                <p>
                    The Organization is registered with the Corporate Affairs Commission CAC / IT / 24948 and various
                    State Youth Department in Nigeria and within the Africa Continent, as well as other relevant
                    Agencies. It is certified by the National Drug Law Enforcement Agency (NDLEA) Nigeria as a
                    complimentary effort to its activities on Drug Demand Reduction amongst the Youth.
                </p>

            </div>

            <div class="one_half last">
                <p class="small-text">
                    .
                </p>
                <p>
                    As a Youth Research and Development Centre we have Organized Programs and carried out Projects in
                    line with the African Union AU - New Economic Partnership for African Development (NEPAD) targeted
                    at Young People of Africa, in relation to the Millennium Development Goal’s and now the Sustainable
                    Development Goals SDGs in Africa.
                </p>
                <br>
                <p>
                    Realizes that Young People are necessary agent for change and Sustainable Development, CADA has
                    initiated and organized several seminars, workshops and lecture series for students and young people
                    in the Private, State and Federal Schools, as well as Higher Institutions in different Countries of
                    Africa.
                </p>
                <p>
                    It is as a result of our commitment and resourcefulness on Youth Matters across the Africa Continent
                    that the UNHCR has been our major partners in organizing the annual African Youth Peace Conference
                    in commemoration of the UN World Peace Day across Africa, which was initiated by CADA in 2006 and
                    supported by the World Bank - Nigeria.
                </p>
                <br>
                <div class="button-holder text-left">
                    <a href="#contact" class="button">CONTACT US</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>