<!-- Skills Section -->
<div id="skills" class="section">
    <div class="section-wrapper block content-1170 center-relative">

        <div class="page-title-holder">
            <p class="up-title-text">05</p>
            <h2 class="entry-title">ACHIEVEMENTS</h2>
            <p class="page-description">WHAT WE HAVE ACHIEVED SO FAR</p>
        </div>

        <div class="content-wrapper">

            <div class="" style="font-size: 120%;">
                <br>
                <p class="white-text">
                    Realizing that Young People are necessary agent for change and Sustainable Development, CADA has
                    initiated and organized several seminars, workshops and lecture series for Students and Young People
                    in the Private, State and Federal Schools, as well as Higher Institutions in different Countries of
                    Africa.
                </p>
                <p class="white-text">
                    It is as a result of our commitment and resourcefulness on Youth and Student Matters across the
                    Africa Continent that the United Nations System in Africa and other major partners have been
                    supporting CADA to (Annually & Biannually) organize the following events across the Africa
                    Continent:
                </p>

                <ul style="color: white; padding: 2% 10%;">
                    <li>African Youth Peace Conference in commemoration of the United Nations World Peace Day Annually
                        across Africa, supported by The World Bank – Africa, Federal Ministry of Youth & Sports,
                        Institute
                        for Peace and Conflict Resolution – Presidency and UNHCR.</li>

                    <li>African Students Leaders Conference, Biannually supported by UNICEF, NDLEA, Ministries of
                        Foreign
                        Affairs and Society for Family Health International</li>
                </ul>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>