<!-- News Section -->
<div id="news" class="section">
    <div class="section-wrapper block content-1170 center-relative">

        <div class="page-title-holder">
            <p class="up-title-text">04</p>
            <h2 class="entry-title">ACTIVITIES</h2>
            <p class="page-description">SOME PROGRAMMES ORGANIZED BY CADA</p>
        </div>

        <div class="content-wrapper">
            <div class="blog-holder-scode latest-posts-scode block center-relative">

                <article class="relative blog-item-holder-scode">

                    <div class="cat-links">
                        <ul>
                            <li>
                                <a href="#">NDLEA</a>
                            </li>
                            <li>
                                <a href="#">NPF - Enugu</a>
                            </li>
                        </ul>
                    </div>
                    <h4 class="entry-title">
                        <a >
                            Launched the handbook titled "TRAPS"
                        </a>
                    </h4>
                    <span class="entry-date published">June 12, 2003</span>
                    <span class="by">at</span>
                    <span class="author-nickname">
                        <a title="Posts by John Smith" rel="author">Modotel Hotel Enugu</a>
                    </span>
                </article>

                <article class="relative blog-item-holder-scode">

                    <div class="cat-links">
                        <ul>
                            <li>
                                <a href="#">UNICEF</a>
                            </li>
                            <li>
                                <a href="#">NDLEA</a>
                            </li>
                            <li>
                                <a href="#">MOFA</a>
                            </li>
                            <li>
                                <a href="#">SFFH</a>
                            </li>
                            <li>
                                <a href="#">CCLN</a>
                            </li>
                        </ul>
                    </div>
                    <h4 class="entry-title">
                        <a >1st African Students Leaders Conference</a>
                    </h4>
                    <span class="entry-date published">May 26 - 28, 2005</span>
                    <span class="by">at</span>
                    <span class="author-nickname">
                        <a title="Posts by John Smith" rel="author">Agura Hotel, Abuja Nigeria</a>
                    </span>
                </article>

                <article class="relative blog-item-holder-scode">

                    <div class="cat-links">
                        <ul>
                            <li>
                                <a href="#">UNHCR</a>
                            </li>
                            <li>
                                <a href="#">WB - Country Office</a>
                            </li>
                        </ul>
                    </div>
                    <h4 class="entry-title">
                        <a >1<sup>st</sup> African Youth Peace Conference</a>
                    </h4>
                    <span class="entry-date published">September 20 - 21, 2006</span>
                    <span class="by">at</span>
                    <span class="author-nickname">
                        <a title="World Bank Country Office, Abuja, Nigeria" rel="CADA">World Bank Country Office, Abuja, Nigeria</a>
                    </span>
                </article>

                <article class="relative blog-item-holder-scode">

                        <div class="cat-links">
                            <ul>
                                <li>
                                    <a href="#">UNODOC</a>
                                </li>
                                <li>
                                    <a href="#">WACATH</a>
                                </li>
                            </ul>
                        </div>
                        <h4 class="entry-title">
                            <a >
                                    UNODC on Human Trafficking released on March 26, 2007
                            </a>
                        </h4>
                        <span class="entry-date published">March 26, 2007</span>
                        <span class="by">at</span>
                        <span class="author-nickname">
                            <a title="Posts by John Smith" rel="author">West-African Sub-region</a>
                        </span>
                    </article>
    
                    <article class="relative blog-item-holder-scode">
    
                        <div class="cat-links">
                            <ul>
                                <li>
                                    <a href="#">UNHCR</a>
                                </li>
                                <li>
                                    <a href="#">CADA</a>
                                </li>
                            </ul>
                        </div>
                        <h4 class="entry-title">
                            <a >One Week United Nations TOT workshop</a>
                        </h4>
                        <span class="entry-date published">July 31 - August 6, 2007</span>
                        <span class="by">at</span>
                        <span class="author-nickname">
                            <a title="Posts by John Smith" rel="author">Sardauna LGA, Taraba State</a>
                        </span>
                    </article>
    
                    <article class="relative blog-item-holder-scode">
    
                        <div class="cat-links">
                            <ul>
                                <li>
                                    <a href="#">UNHCR - Liberia</a>
                                </li>
                                <li>
                                    <a href="#">NDI</a>
                                </li>
                                <li>
                                    <a href="#">UNMIL</a>
                                </li>
                                <li>
                                    <a href="#">NDDC</a>
                                </li>
                                <li>
                                    <a href="#">Liberia Gov't</a>
                                </li>
                            </ul>
                        </div>
                        <h4 class="entry-title">
                            <a >2<sup>nd</sup> African Youth Peace Conference</a>
                        </h4>
                        <span class="entry-date published">September 20 - 21, 2007</span>
                        <span class="by">at</span>
                        <span class="author-nickname">
                            <a title="World Bank Country Office, Abuja, Nigeria" rel="CADA">Monrovia, Liberia</a>
                        </span>
                    </article>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>