<!-- Contact Section -->
<div id="contact" class="section">
    <div class="section-wrapper block content-1170 center-relative">

        <div class="page-title-holder">
            <p class="up-title-text">10</p>
            <h2 class="entry-title">CONTACT</h2>
            <p class="page-description">STAY IN TOUCH</p>
        </div>

        <div class="content-wrapper">

            <div class="one_fourth">
                <p>
                    Fell free to reach out to us for more information.
                </p>
                <br>
                <p>
                    You can also drop by our office, we will be glad to have you.
                </p>
            </div>

            <div class="one_fourth">
                <div class="info-code">
                    <p class="info-code-title">WEB</p>
                    <p class="info-code-content">
                        <a href="https://cadafrica.africa">www.cadafrica.africa</a>
                    </p>
                </div>

                <div class="info-code">
                    <p class="info-code-title">ADDRESS</p>
                    <p class="info-code-content">
                        <a>
                            FCT Abuja, Nigeria.
                        </a>
                    </p>
                </div>

                <div class="info-code">
                    <p class="info-code-title">PHONE</p>
                    <p class="info-code-content">
                        <a href="tel:0811-976-0433">0811-976-0433</a>
                        <a href="tel:0809-107-4852">0809-107-4852</a>
                        <a href="tel:0909-787-4448">0909-787-4448</a>
                    </p>
                </div>

                <div class="info-code">
                    <p class="info-code-title">HOURS</p>
                    <p class="info-code-content">9:00 am – 5:00 pm</p>
                </div>
            </div>

            <div class="one_half last">
                <div class="contact-form">
                    <p>
                        <input id="name" type="text" name="your-name" placeholder="NAME">
                    </p>
                    <p>
                        <input id="contact-email" type="email" name="your-email" placeholder="EMAIL">
                    </p>
                    <p>
                        <input id="subject" type="text" name="your-subject" placeholder="SUBJECT">
                    </p>
                    <p>
                        <textarea id="message" name="your-message" placeholder="MESSAGE"></textarea>
                    </p>
                    <p class="contact-submit-holder">
                        <input type="submit" value="SEND">
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</div>