<!-- Home Section -->
<div id="home" class="section no-page-title">
    <div class="section-wrapper block content-1170 center-relative">
        <div class="content-wrapper">
            <h1 class="entry-title big-title">
                <span>C</span>enter for <span>A</span>dvocacy &amp; <br>
                <span>D</span>evelopment in <span>A</span>frica.
            </h1>
            <p class="site-description">
                We are CADA. Formally known as <br>
                Campaign Against Drug Abuse.
            </p>
            <br>
        </div>
    </div>
    <div class="home-full-width">
        <img class="dots" src="/images/dots.png" alt="Dots" />
        <a href="#contact" class="button home-button">CONTACT US</a>
        <div class="home-full-width-background">
            <img class="logo-icon" src="/images/logo-big.png" alt="Meelo Icon" style="opacity: 0.5"/>
        </div>
    </div>
</div>