<!-- Clients Section -->
<div id="clients" class="section no-page-title">
    <div class="section-wrapper block content-1170 center-relative">
        <div class="content-wrapper">

            <h3 class="medium-text white-text" style="text-align: center;">
                OUR MANDATE
            </h3>
            <div class="text-slider-wrapper relative">
                <div class="text-slider-header-quotes"></div>
                <div id="textSlider" class="text-slider slider owl-carousel owl-theme">

                    <div class="text-slide">
                        <p class="text-slide-content">
                            Our Mandate is to support and encourage Youth and Students in Educational Research Projects,
                            foster Peace initiatives amongst the African Youth, and to provide a platform where the
                            African Students and Youth can exchange ideas, and as well assist developmental programs
                            aimed at achieving the Africa Union Youth Agenda and the Sustainable Development Goals SDGs
                            in Africa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>