<!-- Milestones Section -->
<div id="milestones" class="section">
    <div class="section-wrapper block content-1170 center-relative">

        <div class="page-title-holder">
            <p class="up-title-text">07</p>
            <h2 class="entry-title">OTHER EVENTS</h2>
            <p class="page-description">OTHER EVENTS ATTENDED</p>
        </div>

        <div class="content-wrapper">
            <ul class="milestones-holder">
                <li class="milestone">
                    <p class="milestone-num" title="United Nations World Youth Assembly">UN-WUYA</p>
                    <p class="milestone-text">
                        Organized by the UNDP, UN-HABITAT and the Government of Mexico
                    </p>
                </li>
                <li class="milestone">
                    <p class="milestone-num" title="African Urban Youth Assembly">AUYA</p>
                    <p class="milestone-text">
                        Organized by the UN-HABITAT and Nigeria Government.
                    </p>
                </li>
                <li class="milestone">
                    <p class="milestone-num" title="First International Youth 21 Century High Level Meeting">FIY2CHLM
                    </p>
                    <p class="milestone-text">
                        Organized by the UN-HABITAT, UNDP and the Norwegian Government
                    </p>
                </li>
                <li class="milestone">
                    <p class="milestone-num" title="United Nations Building for Change Stakeholder Meeting">UNBCSM</p>
                    <p class="milestone-text">
                        Organized by the UN-HABITAT, UNDP, and Kenyan Government
                    </p>
                </li>
                <li class="milestone">
                    <p class="milestone-num"
                        title="United Nations Global Youth Leadership Forum on Inclusive Governance">UNGYLFIG</p>
                    <p class="milestone-text">
                        Organized by the UNDP, UN-HABITAT and Kenyan Government
                    </p>
                </li>
                <li class="milestone">
                    <p class="milestone-num" title="United Nations – World Urban Youth Assembly">UN-WUYA</p>
                    <p class="milestone-text">
                        Organized by the UN-HABITAT and Italian Government
                    </p>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>