<!-- Portfolio Section -->
<div id="portfolio" class="section">
    <div class="section-wrapper block content-1170 center-relative">

        <div class="page-title-holder">
            <p class="up-title-text">02</p>
            <h2 class="entry-title">Up-Coming Events</h2>
            <p class="page-description">CHECK OUT UP-COMING EVENTS</p>
        </div>

        <div class="content-wrapper">
            <div class="one_half ">
                <h3 class="medium-text">
                    United Nations <br>
                    International Youth Day.
                </h3>
                <p class="small-text">
                    To be held on August the 10<sup>th</sup> 2019.
                </p>
            </div>

            <div class="one_half last">
                The Centre for Advocacy &amp; Development in Africa CADA is partnering
                with other United Nations Youth Organizations in Nigeria with patronage from the United
                Nations System, African Union – ECOSOCC, Nigeria, Commonwealth Student Association
                and the Federal Government of Nigeria to organize the First Nigeria Youth Ambassador
                Project, which will feature Musical Concert, Award Ceremony, and Pageantry to
                commemorate the 2019 United Nations International Youth Day Celebration in Nigeria.
            </div>
            <a href="#pricing" class="button">UP-COMING EVENTS</a>
            <div class="clear"></div>
            <br>

            

        <div class="page-title-holder">
            <p class="up-title-text">03</p>
            <h2 class="entry-title">Events</h2>
            <p class="page-description">CHECK OUT EVENTS WE PARTICIPATED</p>
        </div>

        <div class="content-wrapper">

            <div class="one_half ">
                <h3 class="medium-text">
                    CADA &amp; <br>
                    Events worldwide.
                </h3>
                <p class="small-text">
                    These are some of the remarkeble events
                    CADA Has either participated or facilated.
                </p>
            </div>

            <div class="one_half last">
                At CADA we do not only focus on organizing our own internal events, because we recognize the fact
                that a
                positive progress is better achieved when groups of people with the same mission come together. As
                such
                we have being consistent in helping organize events in our domain and also almost always honors the
                courtsey of invitations by attendance.
            </div>
            <div class="clear"></div>
            <br>

            <div id="portfolio-wrapper">
                <div class="portfolio-load-content-holder"></div>
                <div class="grid" id="portfolio-grid">
                    <div class="grid-sizer"></div>

                    <div id="p-item-1" class="grid-item element-item p_one_half">
                        <a class="item-link" data-id="1">
                            <img src="images/WUF-UN-HABITAT.JPG" alt="" />
                            <div class="portfolio-text-holder">
                                <p class="portfolio-desc">UNITED NATIONS</p>
                                <p class="portfolio-title">World Urban Youth Forum - Brazil</p>
                            </div>
                        </a>
                    </div>

                    <div id="p-item-2" class="grid-item element-item p_one_fourth">
                        <a class="item-link">
                            <img src="images/WUF-China-2008.jpg" alt="" />
                            <div class="portfolio-text-holder">
                                <p class="portfolio-desc">UNITED NATIONS</p>
                                <p class="portfolio-title">World Urban Youth Forum - China</p>
                            </div>
                        </a>
                    </div>

                    <div id="p-item-3" class="grid-item element-item p_one_fourth">
                        <a class="item-link">
                            <img src="/images/event-1.JPG" alt="" />
                            <div class="portfolio-text-holder">
                                <p class="portfolio-desc">UNITED NATIONS</p>
                                <p class="portfolio-title">World Urban Youth Forum - Brazil</p>
                            </div>
                        </a>
                    </div>

                    <div id="p-item-4" class="grid-item element-item p_one_fourth">
                        <a class="item-link">
                            <img src="images/event-2.jpg" alt="" />
                            <div class="portfolio-text-holder">
                                <p class="portfolio-desc">ZAMFARA STATE</p>
                                <p class="portfolio-title">Zamfara State visit</p>
                            </div>
                        </a>
                    </div>

                    <div id="p-item-2" class="grid-item element-item p_one_fourth">
                        <a class="item-link">
                            <img src="images/event-3.JPG" alt="" />
                            <div class="portfolio-text-holder">
                                <p class="portfolio-desc">UNITED NATIONS</p>
                                <p class="portfolio-title">World Urban Youth Forum - China</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>