<!-- Services Section -->
<div id="services" class="section">
    <div class="section-wrapper block content-1170 center-relative">

        <div class="page-title-holder">
            <p class="up-title-text">01</p>
            <h2 class="entry-title">CORE PROGRAMMES</h2>
            <p class="page-description">WHAT WE DO</p>
        </div>

        <div class="content-wrapper">

            <div class="one_third">
                <div class="service-holder bottom-50">
                    <p class="service-num">I</p>
                    <div class="service-txt">
                        <h4>Non Violence &amp; Peace Education amongst African Youth</h4>
                    </div>
                </div>
            </div>

            <div class="one_third">
                <div class="service-holder bottom-50">
                    <p class="service-num">II</p>
                    <div class="service-txt">
                        <h4>Youth and Students Educational Research Projects</h4>
                    </div>
                </div>
            </div>

            <div class="one_third last">
                <div class="service-holder bottom-50">
                    <p class="service-num">III</p>
                    <div class="service-txt">
                        <h4>Urban Youth Research & Environmental Advocacy</h4>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div class="one_third">
                <div class="service-holder">
                    <p class="service-num">IV</p>
                    <div class="service-txt">
                        <h4>Youth & Climate Change Advocacy</h4>
                    </div>
                </div>
            </div>

            <div class="one_third">
                <div class="service-holder">
                    <p class="service-num">V</p>
                    <div class="service-txt">
                        <h4>Drug Demand Reduction Advocacy</h4>
                    </div>
                </div>
            </div>

            <div class="one_third last">
                <div class="service-holder">
                    <p class="service-num">VI</p>
                    <div class="service-txt">
                        <h4>African Youth Leadership Programs</h4>
                    </div>
                </div>
            </div>

            <div class="one_third">
                    <div class="service-holder">
                        <p class="service-num">VII</p>
                        <div class="service-txt">
                            <h4>African Youth Exchange Programs</h4>
                        </div>
                    </div>
                </div>
    
                <div class="one_third">
                    <div class="service-holder">
                        <p class="service-num">VIII</p>
                        <div class="service-txt">
                            <h4>Youth Entrepreneurship Programs</h4>
                        </div>
                    </div>
                </div>
    
                <div class="one_third last">
                    <div class="service-holder">
                        <p class="service-num">IX</p>
                        <div class="service-txt">
                            <h4>Citizenship, Nation building  & Civic Engagement</h4>
                        </div>
                    </div>
                </div>
            <div class="clear"></div>
        </div>
    </div>
</div>