<!-- Team Section -->
<div id="team" class="section">
    <div class="section-wrapper block content-1170 center-relative">

        <div class="page-title-holder">
            <p class="up-title-text">06</p>
            <h2 class="entry-title">TEAM</h2>
            <p class="page-description">MEET US</p>
        </div>

        <div class="content-wrapper">

            <div class="member member-left">
                <div class="member-wrapper">
                    <div class="member-image-holder">
                        <img src="images/team_image_01.jpg" alt="" />
                    </div>
                    <div class="member-info">
                        <div class="member-name">
                            Vanessa Michaels
                        </div>
                        <p class="member-postition">DEVELOPER</p>
                        <div class="member-content">
                            <p>
                                Code the energy hidden in matter citizens of distant epochs sun. Citizens of distant
                                epochs encyclopaedia galant ctica the ash of stellar alchemy Vangelis white dwarf
                                adipisci velit. Nemo enim ipsam volupta tem quia voluptas sit aspernatur aut odit aut
                                fugit radio telescope quis nostrum exercitatio nem ullam corporis suscipit laboriosam
                                quis.
                            </p>
                            <div class="member-social-holder ">
                                <div class="social">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member big-screen member-right top-100">
                <div class="member-wrapper">
                    <div class="member-info">
                        <div class="member-name">
                            Joan Williams
                        </div>
                        <p class="member-postition">
                            DESIGNER
                        </p>
                        <div class="member-content">
                            <p>
                                Code the energy hidden in matter citizens of distant epochs sun. Citizens of distant
                                epochs encyclopaedia galant ctica the ash of stellar alchemy Vangelis white dwarf
                                adipisci velit. Nemo enim ipsam volupta tem quia voluptas sit aspernatur aut odit aut
                                fugit radio telescope quis nostrum exercitatio nem ullam corporis suscipit laboriosam
                                quis.
                            </p>
                            <div class="member-social-holder">
                                <div class="social">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-image-holder">
                        <img src="images/team_image_02.jpg" alt="" />
                    </div>
                </div>
            </div>

            <div class="member member-left top-100">
                <div class="member-wrapper">
                    <div class="member-image-holder">
                        <img src="images/team_image_03.jpg" alt="" />
                    </div>
                    <div class="member-info">
                        <div class="member-name">Elle Raynolds</div>
                        <p class="member-postition">DEVELOPER</p>
                        <div class="member-content">
                            <p>
                                Code the energy hidden in matter citizens of distant epochs sun. Citizens of distant
                                epochs encyclopaedia galant ctica the ash of stellar alchemy Vangelis white dwarf
                                adipisci velit. Nemo enim ipsam volupta tem quia voluptas sit aspernatur aut odit aut
                                fugit radio telescope quis nostrum exercitatio nem ullam corporis suscipit laboriosam
                                quis.
                            </p>
                            <div class="member-social-holder ">
                                <div class="social">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>