<!-- Pricing Section -->
<div id="pricing" class="section">
    <div class="section-wrapper block content-1170 center-relative">

        <div class="page-title-holder">
            <p class="up-title-text">09</p>
            <h2 class="entry-title">UP-COMING EVENTS</h2>
            <p class="page-description">CHECK OUT OUR UP-COMING EVENTS</p>
        </div>

        <div class="content-wrapper">

            <div class="row">
                <div class="one_half col-sm">
                    <div class="pricing-table">
                        <div class="pricing-table-header">
                            <div class="pricing-table-title">NYAA</div>
                        </div>
                        <div class="pricing-wrapper">
                            <div class="pricing-table-price">12</div>
                            <div class="pricing-table-desc">AUGUST 2019</div>
                            <div class="pricing-table-content-holder">
                                <p>
                                        Nigeria Youth Ambassador Award (NYAA)
                                </p>
                            </div>
                        </div>
                        <div class="pricing-button">
                            <a href="/nyaa" class="button">LEARN MORE</a>
                        </div>
                    </div>
                </div>

                <div class="one_half">
                    <div class="pricing-table">
                        <div class="pricing-table-header">
                            <div class="pricing-table-title">MNYA</div>
                        </div>
                        <div class="pricing-wrapper">
                            <div class="pricing-table-price">12</div>
                            <div class="pricing-table-desc">AUGUST 2019</div>
                            <div class="pricing-table-content-holder">
                                <p>
                                    Miss Nigeria Youth Ambassador
                                </p>
                            </div>
                        </div>
                        <div class="pricing-button">
                            <a href="/mnya" class="button">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>